@use "../partials/functions" as f;
@use "../partials/mixins" as m;
@use "../partials/variables" as v;

@layer components {
    .card {
        margin: auto;
        border-radius: f.rem(15);
        overflow: hidden;
        background-color: var(--dark-background);
        color: var(--white);
        border: solid thin var(--dark-background);
        box-sizing: border-box;
        @include m.flexbox($direction: column, $align: center, $gap: f.rem(10));
        align-items: center;
        padding: f.rem(20);
        width: f.rem(20 * 16);

        .card__img {
            max-width: inherit;
            object-fit: cover;
            width: inherit;
            margin-top: -#{f.rem(20)};
            margin-left: -#{f.rem(20)};
            margin-right: -#{f.rem(20)};
        }

        .card__content {
            @include m.flexbox($direction: column, $align: center, $gap: f.rem(10));
        }
    }

    @each $name, $value in v.$sizes {
        .card-#{$name} {
            padding: f.rem($value);
            width: f.rem($value * 16);
            .card__img {
                margin-top: -#{f.rem($value)};
                margin-left: -#{f.rem($value)};
                margin-right: -#{f.rem($value)};
            }
        }
    }
}
