@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');

.orbitron-regular {
    font-family: "Orbitron", calibri;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.orbitron-bold {
    font-family: "Orbitron", calibri;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.orbitron-black {
    font-family: "Orbitron", calibri;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
